// UoG Branding
// Digital core colours
$uogdarkteal:          rgb(24,129,120) !default;  //#188178
$uogwebteal:           rgb(28,166,145) !default;  //#1CA691
$uogteal:              rgb(32,185,161) !default;  //#20B9A1
$uoglightblue:         rgb(2,142,203) !default;   //#488ECB
$uogmidblue:           rgb(11,114,177) !default;  //#0B72B1
$uogwhite:             rgb(255,255,255) !default; //#FFFFFF
$uoglightgrey:         rgb(241,242,243) !default; //#F1F2F3
$uoggreyblack:         rgb(53,54,55) !default;    //#353637
$uogcharcoalblack:     rgb(33,34,31) !default;    //#21221F

// Digital Occasional colours
$uogcoral:             rgb(222,101,94) !default;   //#DE655E
$uogorange:            rgb(250,167,25) !default;   //#FAA719
$uogyellow:            rgb(255,237,0) !default;    //#FFED00
$uogdarkblue:          rgb(30,60,113) !default;    //#1E3C71
$uogred:               rgb(239,70,63) !default;    //#EF463F
$uogmidgrey:           rgb(165,162,162) !default;  //#A5A2A2
$uogdarkgrey:          rgb(38,39,37) !default;     //#262725
// Colour tints - extracted by colour picker from Firefox
$uoggreyblack80:       rgb(83,79,78) !default;
$uoggreyblack50:       rgb(137,132,130) !default;
$uoggreyblack25:       rgb(191,187,185) !default;
$uoggreyblack15:       rgb(216,213,211) !default;
$uogmidgrey80:         rgb(187,183,180) !default;
$uogmidgrey50:         rgb(211,208,206) !default;
$uogred80:             rgb(208,111,88) !default;
$uogred50:             rgb(226,168,140) !default;
$uogcoral80:           rgb(215,135,119) !default;
$uogcoral50:           rgb(230,182,165) !default;
$uogorange80:          rgb(231,190,82) !default;
$uogorange50:          rgb(240,214,145) !default;
$uogyellow80:          rgb(250,245,92) !default;
$uogyellow50:          rgb(253,249,161) !default;
$uogteal80:            rgb(142,194,178) !default;
$uogteal50:            rgb(186,216,206) !default;
$uogteal25:            rgb(222,235,230) !default;
$uogteal15:            rgb(235,243,239) !default;
$uogcyan80:            rgb(141,196,239) !default;
$uogcyan50:            rgb(185,217,245) !default;
$uogcyan25:            rgb(220,236,251) !default;
$uogcyan15:            rgb(235,244,252) !default;
$uogmidblue80:         rgb(103,119,167) !default;
$uogmidblue50:         rgb(158,164,197) !default;
$uogmidblue25:         rgb(206,207,225) !default;
$uogmidblue15:         rgb(225,225,236) !default;
$uogdarkblue80:        rgb(79,77,121) !default;
$uogdarkblue50:        rgb(137,132,162) !default;
$uogdarkblue25:        rgb(193,188,205) !default;
$uogdarkblue15:        rgb(217,214,224) !default;

$uogblack:             rgb(0,0,0) !default;
$uogblack90:           rgb(41,41,41) !default;
$uogblack80:           rgb(72,72,72) !default;
$uogblack70:           rgb(99,99,99) !default;
$uogblack60:           rgb(124,124,124) !default;
$uogblack50:           rgb(147,147,147) !default;
$uogblack40:           rgb(170,170,170) !default;
$uogblack30:           rgb(192,192,192) !default;
$uogblack20:           rgb(214,214,214) !default;
$uogblack10:           rgb(235,235,235) !default;
$uogwhite:             rgb(255,255,255) !default;
